<h4>$stylist.getName()</h4><br>

<form action="/stylists/$stylist.getId()" method="post">
  <label for="editStylist">Edit Stylist's name:</label>
  <input id="editStylist" name="editStylist" type="text">
  <button type="submit" class="btn btn-info">Edit</button>
</form>

<br><a href="/stylists/$stylist.getId()">Return to $stylist.getName()</a>
