<form action="/stylists/:id" method="post">
  <label for="inputClient">Add a new Client:</label>
  <input id="inputClient" name="inputClient" type="text">
  <button type="submit" class="btn btn-info">Add New Client</button>
</form>

<p></p>
<a href="/stylists/new" class="clickToView"><em>Add New Stylist</em></a>
<p></p>
<a href="/stylists" class="clickToView"><em>Full List of Stylists</em></a>
