<p><strong>$stylist.getName()</strong><p>

#if ($clients.size() != 0)
  <ul>
    #foreach ($client in $clients)
    <li>$client.getName()</li>
    #end
  </ul>
#else
  <p><em>No clients have been added for $stylist.getName()!</em><p>
#end

<p></p>
<a href="/stylists/new" class="clickToView"><em>Add New Stylist</em></a>
<p></p>
<a href="/stylists" class="clickToView"><em>Full List of Stylists</em></a>
